html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Roslindale';
    src: url(/src/fonts/Roslindale-DisplayRegular-Testing.otf);
}

@font-face {
    font-family: 'Manrope';
    src: url(/src/fonts/Manrope-ExtraLight.ttf);
}

@font-face {
    font-family: 'Roslindale-Italic';
    src: url(/src/fonts/Roslindale-DisplayCondensedExtraLightItalic-Testing.otf)
}

@font-face {
    font-family: 'Roslindale-Extra-Light';
    src: url(/src/fonts/Roslindale-DisplayExtraLight-Testing.otf)
}

@font-face {
    font-family: 'Manrope-Light';
    src: url(/src/fonts/Manrope-Light.ttf);
}

body {
    transition: background-color 0.7s ease; /* Douce transition pour le fond */
    background-color: white; /* Fond par défaut */
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 400px;
    padding-bottom: 200px;
}

h1 {
    font-family: 'Roslindale';
    font-size: 110px;
    letter-spacing: 22px;
    padding-bottom: 100px;
}

h1 span {
    font-family: 'Roslindale-Italic';
}


.subtitle {
    position: relative;
    z-index: 2;
    font-family: 'Manrope';
    font-size: 87px;
    letter-spacing: 60px;
    color: white;
}

.main-content .subtitle{
    z-index: 2;
    position: relative;
    mix-blend-mode: difference;
}

.main-img {
    position: relative;
    z-index: 1;
    margin-top: -360px;
    width: 572px;
    height: 717px;
}




/* Naviguation */
.naviguation {
    padding: 100px 0;
    padding-bottom: -50px;
}
.naviguation.active {
    background-color: black;
    transition: background-color 0.7s ease;
}

.naviguation nav ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 76px;
    font-family: 'Roslindale-Extra-Light';
    font-size: 96px;
    color: white;
    transition: color 0.7s ease;
    padding-right: 150px;
}

h2 {
    font-family: 'Roslindale-Extra-Light';
    font-size: 96px;
    padding-left: 150px;
}

.job {
    font-family: 'Manrope-Light';
    font-size: 96px;
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

.job-list{
    padding-top: 350px;
}

body::before,
body::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px; 
    background-color: #959595;
    z-index: 10; 
}

body::before {
    left: 86px; 
}

body::after {
    right: 86px; 
}


.horizontal-line {
    position: absolute;
    top: 86px; 
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: #959595;
    z-index: 10;
}

.horizontal-line2 {
    position: absolute;
    top: 1053px;
    left: 0;
    width: 100%; 
    height: 1px; 
    background-color: #959595; 
    z-index: 10;
}

