html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Roslindale';
    src: url(/src/fonts/Roslindale-DisplayRegular-Testing.otf);
}

@font-face {
    font-family: 'Manrope';
    src: url(/src/fonts/Manrope-ExtraLight.ttf);
}

@font-face {
    font-family: 'Roslindale-Italic';
    src: url(/src/fonts/Roslindale-DisplayCondensedExtraLightItalic-Testing.otf)
}

@font-face {
    font-family: 'Roslindale-Extra-Light';
    src: url(/src/fonts/Roslindale-DisplayExtraLight-Testing.otf)
}

@font-face {
    font-family: 'Manrope-Light';
    src: url(/src/fonts/Manrope-Light.ttf);
}

body {
    transition: background-color 0.7s ease;
    background-color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 400px;
    padding-bottom: 200px;
}

h1 {
    font-family: 'Roslindale';
    font-size: 110px;
    letter-spacing: 22px;
    padding-bottom: 100px;
}

h1 span {
    font-family: 'Roslindale-Italic';
}


.subtitle {
    position: relative;
    z-index: 2;
    font-family: 'Manrope';
    font-size: 87px;
    letter-spacing: 60px;
    color: white;
}

.main-content .subtitle {
    z-index: 2;
    position: relative;
    mix-blend-mode: difference;
}

.main-img {
    position: relative;
    z-index: 1;
    margin-top: -360px;
    width: 572px;
    height: 717px;
}




/* Naviguation */
.naviguation {
    padding: 100px 0;
    padding-bottom: -50px;
}

.naviguation.active {
    background-color: black;
    transition: background-color 0.7s ease;
}

.naviguation nav ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 76px;
    font-family: 'Roslindale-Extra-Light';
    font-size: 96px;
    color: white;
    transition: color 0.7s ease;
    padding-right: 150px;
}

.naviguation nav ul li a {
    position: relative;
    /* Nécessaire pour positionner le pseudo-élément */
    display: inline-block;
    /* Pour limiter l'effet à la taille du texte */
    text-decoration: none;
    /* Retire toute soulignement natif */
    color: #ffffff;
    /* Couleur du texte */
    transition: color 0.3s ease;
}

.naviguation nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    /* Ligne cachée par défaut */
    height: 1px;
    /* Épaisseur de la ligne */
    background-color: #ffffff;
    /* Couleur de la ligne */
    transition: width 0.3s ease;
}

.naviguation nav ul li a:hover::after {
    width: 100%;

}

.arrow-effect {
    position: relative;
    /* Nécessaire pour positionner le pseudo-élément */
    display: inline-block;
    /* Limite l'effet à la taille du texte */
    text-decoration: none;
    /* Retire tout soulignement natif */
    color: #000;
    /* Couleur du texte */
    transition: color 0.3s ease;
    /* Transition pour le texte, optionnel */
}

.arrow-effect::before {
    content: '>';
    /* Caractère flèche */
    position: absolute;
    left: -100px;
    /* Position à gauche du texte */
    top: 50%;
    /* Aligne verticalement au centre */
    transform: translateY(-50%);
    /* Ajustement vertical précis */
    font-size: 100px;
    /* Taille de la flèche */
    color: #ffffff;
    /* Couleur de la flèche */
    opacity: 0;
    /* Invisible par défaut */
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Apparition et déplacement fluide */
}

.arrow-effect:hover::before {
    opacity: 1;
    /* La flèche devient visible */
    transform: translateY(-50%) translateX(-10px);
    /* Légère animation de déplacement */
}

h2 {
    font-family: 'Roslindale-Extra-Light';
    font-size: 96px;
    padding-left: 150px;
}

.job {
    font-family: 'Manrope-Light';
    color: #b7b7b7;
    font-size: 96px;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    transition: color 1s ease;
}

.job.in-view {
    color: #000;
}

.job-list {
    padding-top: 350px;
}

body::before,
body::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #959595;
    z-index: 10;
}

body::before {
    left: 86px;
}

body::after {
    right: 86px;
}


.horizontal-line {
    position: absolute;
    top: 86px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #959595;
    z-index: 10;
}

.horizontal-line2 {
    position: absolute;
    top: 1053px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #959595;
    z-index: 10;
}

.horizontal-line3 {
    position: absolute;
    top: 2180px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #959595;
    z-index: 10;
}

.img-bridge {
    position: relative;
    width: 100%;
    padding-top: 300px;
    z-index: 11;
}

.footer {
    font-family: 'Manrope';
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}



.cv{
    width: 50%;
    margin-left: 25%;
}
