@font-face {
    font-family: 'Roslindale-Extra-Light';
    src: url(/src/fonts/Roslindale-DisplayExtraLight-Testing.otf)
}
@font-face {
    font-family: 'Manrope';
    src: url(/src/fonts/Manrope-ExtraLight.ttf);
}

.bouton-accueil {
    font-family: 'Manrope';
    font-size: 35px;
    color: black; 
    text-decoration: none; 
    position: fixed; 
    top: 25px; 
    left: 130px; 
    z-index: 100; 
    transition: color 0.3s ease; 
    transition: transform 0.3s ease, opacity 0.3s ease; 
    opacity: 1; 
    transform: translateY(0); 
}

.bouton-accueil:hover {
    color: gray;
    cursor: pointer; 
}


body::before,
body::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #959595;
    z-index: 10;
}

body::before {
    left: 86px;
}

body::after {
    right: 86px;
}

.horizontal-line {
    position: absolute;
    top: 86px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #959595;
    z-index: 10;
}

.horizontal-line2 {
    position: relative;
    width: 100%;
    top: 86px;
    height: 1px;
    background-color: #959595;
    z-index: 10;
}


.footer {
    font-family: 'Manrope';
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-150px) rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(15deg);
    }
}

h1 {
    font-size: 120px;
    font-family: 'Roslindale-Extra-Light';
}

.vinyl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 250px;
}

.photo-vinyl {
    display: flex;
    position: absolute;
    width: 510px;
    height: 637.5px;
    padding-top: 300px;
    padding-left: 400px;
    opacity: 100;
    transform: rotate(15deg);
    transition: opacity 0.5s ease-out;
    z-index: 1;
    justify-content: center;
}

.vinyl-title {
    padding-top: 650px;
    padding-right: 650px;
    font-size: 12Opx;
    font-family: 'Roslindale-Extra-Light';
    position: relative;
    color: black;
    display: inline-block;
    z-index: 2;
    justify-content: center;
}




.poster {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 250px;
}

.photo-poster {
    position: relative;
    width: 510px;
    height: 637.5px;
    padding-top: 300px;
    transform: rotate(15deg);
    z-index: 1;
    justify-content: center;
}


.poster-title {
    margin-top: 650px;
    font-size: 12Opx;
    font-family: 'Roslindale-Extra-Light';
    position: relative;
    color: rgb(0, 0, 0);
    display: inline-block;
    z-index: 2;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 250px;
}

.photo-info {
    display: flex;
    position: absolute;
    width: 510px;
    height: 637.5px;
    padding-top: 300px;
    padding-left: 400px;
    opacity: 100;
    transform: rotate(15deg);
    transition: opacity 0.5s ease-out;
    z-index: 1;
    justify-content: center;
}

.info-title {
    padding-top: 650px;
    padding-right: 650px;
    font-size: 12Opx;
    font-family: 'Roslindale-Extra-Light';
    position: relative;
    color: black;
    display: inline-block;
    z-index: 2;
    justify-content: center;
}

.text-general {
    display: flex;
    flex-direction: column;
}

.buton {
    font-family: 'Roslindale-Extra-Light';
    margin-top: 300px;
    font-size: 60px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000000;
    width: fit-content;
}

.buton {
    transition: color 0.3s ease;
}

.buton::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    /* Ligne cachée par défaut */
    height: 1px;
    /* Épaisseur de la ligne */
    background-color: #000000;
    /* Couleur de la ligne */
    transition: width 0.3s ease;
}

.buton:hover::after {
    width: 100%;

}

.poster .poster-title{
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1200px) {
    .bouton-accueil {
        font-size: 30px;
        position: relative; 
        text-align: center;
        display: flex;
        top: 0px;
        left: 0px;
        margin-top: 7vw;
        justify-content: center;
    }

    body::before {
        left: 8vw;
    }

    body::after {
        right: 8vw;
    }


    .horizontal-line2 {
        top: 8vw;
        margin-bottom: 50px;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;

    }

    .photo-info {
        width: 70%;
        height: auto;
        position: relative;
        justify-content: center;
        padding-top: 50px;
        padding-left: 15vw;
        transform: rotate(0deg);
        align-items: center;

    }

    .info-title {
        padding-top: 0px;
        padding-right: 0px;
        font-size: 50px;
        
    }

    .buton {
        display: flex;
        position: relative;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
        font-size: 30px;
        width: auto;
    }

    .text-general {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .footer {
        text-align: center;
        font-size: 16px;
        gap: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20%;
        padding-right: 20%;
    }
    
}