@font-face {
    font-family: 'Roslindale-Extra-Light';
    src: url(/src/fonts/Roslindale-DisplayExtraLight-Testing.otf)
}

@font-face {
    font-family: 'Manrope-Light';
    src: url(/src/fonts/Manrope-Light.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(/src/fonts/Manrope-ExtraLight.ttf);
}

@font-face {
    font-family: 'Roslindale-Italic';
    src: url(/src/fonts/Roslindale-DisplayCondensedExtraLightItalic-Testing.otf);
}


.button{
    font-family: 'Roslindale-Extra-Light';
    display: flex;
    margin-top: 6vw;
    margin-left: 17vw;
    font-size: 3em;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    width: fit-content;
}

.button {
    transition: color 0.3s ease;
}

.button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    /* Ligne cachée par défaut */
    height: 1px;
    /* Épaisseur de la ligne */
    background-color: #000000;
    /* Couleur de la ligne */
    transition: width 0.3s ease;
}

.button:hover::after {
    width: 100%;

}

.de-dos-photo{
    width: 590px;
    height: 856px;
    margin-top: 40px;
}

.citation{
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 5.8em;
    margin-left: 60px;
    font-family: 'Roslindale-Extra-Light';
    position: relative;
    color: black;
    display: flex;
    line-height: 81.3px;
    z-index: 2;

}


.citation2{
    text-transform: uppercase;
    padding-top: 50px;
    font-size: 5.8em;
    font-family: 'Roslindale-Extra-Light';
    position: relative;
    color: black;
    display: flex;
    line-height: 81.3px;
    z-index: 2;

}

.citation3{
    text-transform: uppercase;
    padding-top: 50px;
    font-size: 5.8em;
    font-family: 'Roslindale-Extra-Light';
    position: relative;
    color: black;
    display: flex;
    line-height: 81.3px;
    z-index: 2;

}

.citation4{
    text-transform: uppercase;
    padding-top: 50px;
    font-size: 5.8em;
    margin-left: 70px;
    font-family: 'Roslindale-Extra-Light';
    position: relative;
    color: black;
    display: flex;
    line-height: 81.3px;
    z-index: 2;

}

.body-text {
    font-family: 'Manrope-Light';
    position: relative;
    font-size: 2em;
    max-width: 70%;
    letter-spacing: 3px;
    line-height: 1.6em;
    padding-top: 4vw;
    margin-right: 100px;
}


.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 8vw;
    padding-bottom: 100px;
    padding-top: 200px;

}


.horizontal-line {
    position: absolute;
    top: 86px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #959595;
    z-index: 10;
}

.horizontal-line2 {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #959595;
    z-index: 10;
}


.footer {
    font-family: 'Manrope';
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}



.bouton-accueil {
    font-family: 'Manrope';
    font-size: 35px;
    color: black; /* Couleur par défaut */
    text-decoration: none; /* Retire le soulignement natif */
    position: fixed; /* Fixé en haut à gauche */
    top: 25px; /* Distance par rapport au haut de la page */
    left: 8vw; /* Distance par rapport au bord gauche */
    z-index: 100; /* S'assure que le bouton est au-dessus des autres éléments */
    transition: color 0.3s ease; /* Transition douce pour le survol */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transition fluide */
    opacity: 1; /* Par défaut visible */
    transform: translateY(0); /* Position initiale */
}

.bouton-accueil:hover {
    color: gray; /* Change de couleur au survol */
    cursor: pointer; /* Montre que c'est cliquable */
}

.bouton-retour{
    font-family: 'Manrope';
    font-size: 45px;
    color: black; /* Couleur par défaut */
    text-decoration: none; /* Retire le soulignement natif */
    position: fixed; /* Fixé en haut à gauche */
    top: 18px; /* Distance par rapport au haut de la page */
    left: 2vw; /* Distance par rapport au bord gauche */
    z-index: 100; /* S'assure que le bouton est au-dessus des autres éléments */
    transition: color 0.3s ease; /* Transition douce pour le survol */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transition fluide */
    opacity: 1; /* Par défaut visible */
    transform: translateY(0); /* Position initiale */
}


.first-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
}

.star1{
    width: 80px;
    height: 80px;
    padding-top: 20px;
}

.star2{
    width: 80px;
    height: 80px;
    padding-top: 50px;
}

.second-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.arrow{
    width: 52px;
    height: 38px;
    width: fit-content;
    margin-top: 5.8vw;
}