@font-face {
    font-family: 'Roslindale-Extra-Light';
    src: url(/src/fonts/Roslindale-DisplayExtraLight-Testing.otf)
}

@font-face {
    font-family: 'Manrope-Light';
    src: url(/src/fonts/Manrope-Light.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(/src/fonts/Manrope-ExtraLight.ttf);
}


.bouton-accueil {
    font-family: 'Manrope';
    font-size: 35px;
    color: black; /* Couleur par défaut */
    text-decoration: none; /* Retire le soulignement natif */
    position: fixed; /* Fixé en haut à gauche */
    top: 25px; /* Distance par rapport au haut de la page */
    left: 8vw; /* Distance par rapport au bord gauche */
    z-index: 100; /* S'assure que le bouton est au-dessus des autres éléments */
    transition: color 0.3s ease; /* Transition douce pour le survol */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transition fluide */
    opacity: 1; /* Par défaut visible */
    transform: translateY(0); /* Position initiale */
}

.bouton-accueil:hover {
    color: gray; /* Change de couleur au survol */
    cursor: pointer; /* Montre que c'est cliquable */
}

.bouton-retour{
    font-family: 'Manrope';
    font-size: 45px;
    color: black; /* Couleur par défaut */
    text-decoration: none; /* Retire le soulignement natif */
    position: fixed; /* Fixé en haut à gauche */
    top: 18px; /* Distance par rapport au haut de la page */
    left: 2vw; /* Distance par rapport au bord gauche */
    z-index: 100; /* S'assure que le bouton est au-dessus des autres éléments */
    transition: color 0.3s ease; /* Transition douce pour le survol */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transition fluide */
    opacity: 1; /* Par défaut visible */
    transform: translateY(0); /* Position initiale */
}


body::before,
body::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #959595;
    z-index: 10;
    display: none;
}

body::before {
    left: 3vw;
}

body::after {
    right: 3vw;
}

.horizontal-line {
    position: absolute;
    top: 86px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #959595;
    z-index: 10;
}

.horizontal-line2 {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #959595;
    z-index: 10;
}


.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 8vw;
    padding-bottom: 100px;

}

.project-photo {
    display: flex;
    position: relative;
    width: 35%;
    height:100%;
    padding-top: 300px;
    transition: opacity 0.5s ease-out;
    z-index: 1;
    padding-left: 4vw;
}

.project-photo2 {
    object-fit: cover;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 30%; 
    max-width: 480px; 
    margin: 0 10px; 
    transition: transform 0.3s ease, opacity 0.5s ease-out;
}

.project-photo2:hover {
    transform: scale(1.05); /* Effet zoom au survol */
    cursor: pointer;
    opacity: 0.9; /* Léger effet de transparence */
}

.other-photos {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrage des images */
    align-items: center; /* Alignement vertical */
    gap: 20px; /* Espacement entre les images */
    padding: 50px 0; /* Marge verticale pour aérer la section */
    flex-wrap: wrap; /* Permet le retour à la ligne sur petits écrans */
}
iframe{
    height: 700px;
    width: 80vw ;
}

h1 {
    padding-top: 300px;
    font-size: 108px;
    font-family: 'Roslindale-Extra-Light';
    position: relative;
    color: black;
    display: flex;
    z-index: 2;
}

h2 {
    font-size: 32px;
    padding-top: 58px;
    font-family: 'Roslindale-Extra-Light';
}

.body-text {
    font-family: 'Manrope-Light';
    text-wrap: wrap;
    width: 73%;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 1.4em;
    padding-top: 2vw;
}

.container-description {
    margin-left: 5vw;
}


.other-photos{
    display: flex;
    flex-direction: row;
}

/* Popup */

.popup {
    display: none; /* Cachée par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    position: relative;
    max-width: 90vw;
    max-height: 90dvh;
}

.popup-content img {
    max-width: 90vw;
    max-height: 90dvh;
    display: block;
    border-radius: 5px;
}

#closePopup {
    position: absolute;
    top: 0px;
    right: -80px;
    color: #ffffff;
    padding: 5px 10px;
    font-family: 'Manrope-Light';
    font-size: 40px;
    cursor: pointer;
}


.Musba{
    width: 60%;
    align-items: center;
}

.footer {
    font-family: 'Manrope';
    color: #000000;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bouton-ml{
    text-decoration: none;
    color: #000000;
}

.bouton-ml :hover{
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .bouton-accueil {
        font-size: 30px;
        position: relative;
        text-align: center;
        display: flex;
        top: 0px;
        left: 0px;
        margin-top: 28px;
        justify-content: center;
    }

    .project{
        flex-direction: column;
    }

    .project-photo{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 25%;
        position: relative;
        width: 80%;
        height: auto;
        opacity: 100%;
    }

    h1{
        font-size: 60px;
        justify-content: center;
        padding-top: 100px;
    }

    .body-text {
        width: 90%;
        font-size: 22px;
        letter-spacing: 3px;
        line-height: 1.4em;
        padding-top: 10vw;
    }

    .other-photos{
        flex-direction: column;
    }

    .bouton-retour{
        margin-left: 20px;
    }

    .footer {
        text-align: center;
        font-size: 16px;
        gap: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (max-width: 600px) {
    iframe{
        height: 500px;
        width: 90vw ;
    }
}